


.events-announcement {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 100;
	width: 100%;
	color: #ff0000;
	font-size: 20px;
	height: 40px;
	line-height: 40px;
	background-color: #fecb16;
}


.events-announcement-in {
	width: 1200px;
	margin: 0 auto;
}

@media (max-width:1220px) {
	.events-announcement-in {
		width: 100%;
		padding: 0 10px;
	}
}

#scroll_begin,
#scroll_end {
	display: inline;
}


@media (max-width:640px) {
	.events-announcement {
		padding: 0 20px;
	}
}

@media (max-width:400px) {
	.events-announcement {
		padding: 0 15px;
	}
}
.banner-box {
    top: 40px!important;
}
.basehead {
    top: 40px!important;
}
